<html>

    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="/resource/assets/icon/favicon.ico">
        <title>Le mur à pépite</title>

        <link rel="stylesheet" href="/resource/fonts/google/material/symbols_outlined" />
        <link rel="stylesheet" href="/resource/vendor/limonte-sweetalert2/11.7.0/sweetalert2.min.css" />
        <link rel="stylesheet" href="/resource/vendor/paginationJs/2.5.0/pagination.min.css" />
        <link rel="stylesheet" href="/resource/css/helper.css" />
        <link rel="stylesheet" href="/resource/css/header.css" />
        <link rel="stylesheet" href="/resource/css/footer.css" />
        <link rel="stylesheet" href="/resource/css/pagination.css" />
        <link rel="stylesheet" href="/resource/css/reaction.css" />
        <link rel="stylesheet" href="/resource/css/nugget.css" />
        <link rel="stylesheet" href="/resource/css/nugget-reaction.css" />
        <link rel="stylesheet" href="/resource/css/notes-viewer.css" />
        <link rel="stylesheet" href="/resource/css/main-theme.css" />

        <style>
            .note-container-template {
                display: none !important;
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div id="button_home" class="header-item-home">
                <span>#Pépites</span>
            </div>
        </div>

        <div class="screen-center">
            <div class="loader page-loader">
                <span></span>
            </div>

            <div id="notes_viewer" class="notes-viewer">

                <div class="note-container note-container-template">
                    <div class="note">

                        <div class="note-header text-center">
                            <div class="share-note">
                                <i class="material-symbols-outlined">
                                    share
                                </i>

                                <div class="share-note-message">
                                    <span>Copied !</span>
                                    <span class="progressbar-dot">.....</span>
                                </div>
                            </div>
                            <span class="note-title"> #xxxx </span>
                            <br />
                            <span class="note-subtitle"> xxx/xxx/xxxx </span>
                        </div>
                        <div class="note-body text-center">
                            <span class="note-content note-content-header"></span>
                            <span class="note-content note-content-body"></span>
                            <span class="note-content note-content-footer"></span>
                        </div>
                        <div class="note-footer">
                            <span>#Pépite</span>
                        </div>

                    </div>


                    <div class="loader reactions-container-loader">
                        <span></span>
                    </div>
                    <div class="reactions-container" state="">
                        <div>
                            <div class="reaction-button like-reaction-button" style="grid-column: 1; grid-row: 1;"
                                reacted="false">
                                <span>Pépite!</span>
                                <i class="material-symbols-outlined">
                                    favorite
                                </i>
                                <div class="reaction-counter">
                                    <h class="reaction-counter-value">0</h> <br />
                                    <h class="reaction-counter-info">Pépite</h>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="reaction-button fake-reaction-button" style="grid-column: 2; grid-row: 1;"
                                reacted="false">
                                <span>Fake</span>
                                <i class="material-symbols-outlined">
                                    close
                                </i>
                                <div class="reaction-counter">
                                    <h class="reaction-counter-value">0</h> <br />
                                    <h class="reaction-counter-info">Fake</h>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="reaction-button dislike-reaction-button" style="grid-column: 3; grid-row: 1;"
                                reacted="false">
                                <span>Nulle</span>
                                <i class="material-symbols-outlined">
                                    thumb_down
                                </i>
                                <div class="reaction-counter">
                                    <h class="reaction-counter-value">0</h> <br />
                                    <h class="reaction-counter-info">Nulle</h>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination-container">

                </div>

            </div>


        </div>

        <div class="footer">

            <div id="create_note" class="footer-item footer-item-create-note">
                <i class="material-symbols-outlined" style="font-size: 30px !important;">
                    add_circle
                </i>
                <span>Ajouter <br /> une Pépite</span>
            </div>
        </div>

    </body>

    <script src="/resource/vendor/jquery/3.6.3/jquery.min.js"></script>
    <script src="/resource/vendor/limonte-sweetalert2/11.7.0/sweetalert2.js"></script>
    <script src="/resource/vendor/paginationJs/2.5.0/pagination-edited.js"></script>
    <script src="/resource/vendor/hammerJs/2.0.8/hammer.min.js"></script>

    <script src="/resource/js/helper.js"></script>
    <script src="/resource/js/reaction.js"></script>
    <script src="/resource/js/pagination.js"></script>
    <script src="/resource/js/header.js"></script>
    <script src="/resource/js/note.js"></script>
    

    <script>

        
        function loadPage(callback = null, pageNumber = null, pageSize = null, paginationStart = null) {
            var data = {
                "pageSize": pageSize,
                "pageNumber": pageNumber,
                "paginationStart": paginationStart,
            };

            $.get('/api/note', data, (response_data) => {

                setLoading("page", false);

                if (response_data["error"] === true) {
                    console.error(response_data);

                    Swal.fire({
                        icon: 'error',
                        title: 'An error occurred',
                        text: response_data["error_msg"],
                    });
                } else {

                    response_data["data"]["notes"].forEach((item) => {
                        var newNote = $(".note-container-template").clone();
                        setNote(newNote, item);

                        newNote.removeClass("note-container-template");
                        newNote.insertBefore(".notes-viewer .pagination-container");
                    });

                    if (callback) {
                        callback(response_data["data"]);
                    }
                }

            }).fail(function (xhr, status, error) {
                console.error(xhr, status, error);

                setLoading("page", false);
                Swal.fire({
                    icon: 'error',
                    title: 'An error occurred',
                    html: xhr.responseText,
                });
            });
        }


        $(document).ready(() => {

            var url = new URL(window.location);
            window.pageNumber = url.searchParams.get("pageNumber", null);
            window.paginationStart = (pageNumber === 1 || pageNumber == null) ? null : url.searchParams.get("paginationStart", null);
            window.pageSize = url.searchParams.get("pageSize", null);
            window.isPaginationInit = false;

            if ((pageNumber == null || pageNumber == 1) && url.searchParams.get("paginationStart", null) != null) {
                var newUrl = new URL(window.location);
                setUrlArg(newUrl, "paginationStart", null);
                setUrlArg(newUrl, "pageNumber", null);
                newUrl = newUrl.toString();

                window.pageNumber = null;
                window.paginationStart = null;

                window.history.pushState({ path: newUrl }, '', newUrl);
            }

            if (window.paginationStart == -1) {
                window.paginationStart = null;
            }

            let paginationElem = null;

            loadPage((data) => {
                initNoteEvents();

                var newUrl = new URL(window.location);

                window.pageSize = data["page_size"]
                setUrlArg(newUrl, "pageSize", data["page_size"]);

                newUrl = newUrl.toString();

                window.history.pushState({ path: newUrl }, '', newUrl);


                $(".pagination-container").pagination({
                    dataSource: data["total_item_count"],
                    pageSize: data["page_size"],
                    pageNumber: data["page_number"],
                    showSizeChanger: true,
                    sizeChangerOptions: [5, 10, 15, 20, 50, 100],
                    pageRange: 1,
                    afterSizeSelectorChange: (event, pageSize) => {

                        var url = new URL(window.location);
                        setUrlArg(url, "pageSize", pageSize);
                        setUrlArg(url, "paginationStart", window.paginationStart || data["pagination_start"]);
                        setUrlArg(url, "pageNumber", null);
                        window.location = url;
                    },
                    afterPaging: (pageNumber) => {
                        if (!window.isPaginationInit)
                            return;

                        var url = new URL(window.location);
                        setUrlArg(url, "pageNumber", (pageNumber == 1) ? null : pageNumber);

                        if (pageNumber > 1) {
                            setUrlArg(url, "paginationStart", (window.paginationStart == null) ? data["pagination_start"] : window.paginationStart);
                        } else {
                            setUrlArg(url, "paginationStart", null);
                        }

                        window.location = url;
                    },
                    afterInit: () => {
                        window.isPaginationInit = true;

                        const touchArea = document.getElementById("notes_viewer");
                        var hammertime = new Hammer(touchArea, {});

                        hammertime.on('swipeleft', function (ev) {
                            var paginationElem = $(".pagination-container");

                            if (paginationElem.pagination('getCurrentPageNum') == paginationElem.pagination('getTotalPage')) {
                                Swal.fire({
                                    text: "Congratulation ! You've reached the end of the nuggets wall",
                                });
                            }
                            paginationElem.pagination('next');
                        });

                        hammertime.on('swiperight', function (ev) {
                            var paginationElem = $(".pagination-container");

                            if (paginationElem.pagination('getCurrentPageNum') == 1) {
                                // Swal.fire({
                                //     text: "No more nugget to read at the moment...but you can go check out the previous ones !",
                                // });

                                var url = new URL(window.location);
                                clearPaginationUrl(url);

                                window.location = url;
                            }
                            paginationElem.pagination('previous');
                        });
                    }
                });

            }, window.pageNumber, window.pageSize, window.paginationStart);

            $("#create_note, #create_note > *").on('click', () => {
                window.location = "/note/create";
            });

        });

    </script>

</html>