@font-face {
    font-family: "Oswald";
    src: url("/resource/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

.note-container {
    text-align: center;
    min-width: 275px;
    max-width: 600px;
    margin: 10px;
    margin-bottom: 60px;
}
.note {
    font-family: 'Oswald' !important;
    background-color: #f7348c;
    padding: 10px;
}
.note-header {
    padding-bottom: 30px;
}

.note-content {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    font-size: 25px;
    text-align: center;
}

.note-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.note-body-header {
    grid-column: 1;
    grid-row: 1;
}

.note-content-body {
    font-size: 28px;
    font-weight: bold;
    padding-top: 15px;
    grid-column: 1;
    grid-row: 2;
}

.note-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    grid-auto-rows: auto;
    padding-top: 25px;
}

.note-body-footer {
    grid-column: 1;
    grid-row: 2;
}

.note-subtitle {
    text-align: center;
    font-size: 15px;
}

.note-footer {
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.note-content-footer {
    padding-top: 25px;
    font-size: 23px;
}